// CAMBIOS EN PAGINAS HECHAS CON BOOTSTRAP

.contenido_contacto {
  @include flex-col-center;
  @include estilo_claro;

  p {
    @extend %textos;

  }

  h2 {
    @extend %titulos;
  }

  div {

    div {
      form {
        @include estilo_oscuro;
        @include flex-col-center;
        align-items: stretch;
        padding: 10px 30px;
      }
    }
    div {   
      .video-youtube {
      width: 100%;
      aspect-ratio: 16/9;
      }
    }
  }
}

// DISCOGRAFIA
.textodisco {
  font-size: 14px;
}


// EFECTO EN DISCOGRAFIA

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	        animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}

 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

// ANIMACION AGRANDAR ELEMENTOS USADO EN DISCOGRAFIA Y LOGO DE NAVBAR
.agrandarse {
transition: 1s;
  &:hover {
      scale: 1.05;
  }
}
