.contenido_index {   
  @include flex-col-center;
  @include estilo_oscuro;
  padding: 20px;
  gap: 10px;
    
    .titulo_index{
      @extend %titulos;
    }
}

.contenido_discos {
  @include flex-col-center;
  @include estilo_claro;
  
  .texto {
    @extend %textos;
  }
  
  h2 {
    @extend %titulos;
  }

}


.fondo_claro {
    background-color: $color_fondo_claro; 
    color:  $color_fondo_oscuro;
}
.fondo_oscuro {
  background-color: $color_principal; 
  color: $color_letras; 
}



// ANIMACION RESALTAR CONTENIDO
.vibrate-1 {
	-webkit-animation: vibrate-1 2s linear infinite both;
	        animation: vibrate-1 2s linear infinite both;
}


@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
