.fotoprincipal {
    background-image: url(../../img/portada.jpg);
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90vh;
    
    .fototitulo{
        padding: 15px 40px;
        background-color: rgba(255, 255, 255, 0.481);
        border-radius: 10px;
    }
}
