.fotoprincipal {
    background-image: url(../../img/portada.jpg);
    background-size: cover;
    background-position: center top;
    @include flex-col-center;
    justify-content: end;
    height: 85vh;
    
    .fototitulo{
        background-color: rgba(255, 255, 255, 0.453);
        border-radius: 10px; 
        padding: 10px 20px;
        font-size: 60px;
        color: $color_fondo_oscuro;
        font-weight: bold;    
    } 
    
    p {
        background-color: $color_letras;
        border-radius: 10px; 
        padding: 10px 20px;
    }
}
