@media screen and (max-width: 1200px){
    // NAVBAR
    .slide-in-fwd-right {
        -webkit-animation: none;
                animation: none;
    }

    // SOBREMI
    .contenido_sobremi {
        .grid_sobremi, .grid_sobremi2 {
            display: flex;
            flex-direction: column;        
            padding: 20px 40px;
            gap: 20px;
        }            
    }
    // INDEX
    main {
            .fotoprincipal {
                height: 60vh;
                
                .fototitulo{
                    font-size: 50px;
                } 
            } 
    }
    // PRESENTACIONES
    .contenido {

        .contenidopresentacion {
        display: flex;
        padding: 20px 0;
        }
    }
    
}



@media screen and (max-width: 768px){

    %titulos {
       
        padding: 3px 5px;
        font-size: 18px;
    }
    
    %textos {
        padding: 20px 50px;
        font-size: 12px;
    }
    
    .slide-in-fwd-right {
        -webkit-animation: none;
                animation: none;
    }
    // PRESENTACIONES
    .contenido {

            .contenidopresentacion {
                
                .proximasfechas {
                    
                    .itemtitulo {
                        th {
                            padding: 10px;
                            font-size: 15px;
                            }
                    }
                    .itemfecha {
                        
                        td {
                        padding: 5px;
                        font-size: 12px;
                            .fondo {
                                font-size: 12px;
                                padding: 3px;
 
                            }
                        }
                    }    
                }
            }
        }


// INDEX
    main {

        .fotoprincipal{

            .fototitulo{
                font-size: 30px;
            } 
        }
    }

    // CONTACTO
    .contenido_contacto {

        .container {
            gap: 20px;
        }
    }
// DISCOGRAFIA

    img {
        width: 100%;
    }
}

