.fondoimagen {
  background-image: url(../../img/fondo3.jpg);
  background-size: cover;
  background-position: center;
}

.contenidopresentacion {    
    .proximasfechas {
      text-align: center;
.itemfecha {
  
      td, th {
        padding: 30px;
        color: $color_fondo_oscuro;
        font-size: 20px;
          
        .ocultar{
            color: transparent;
            background-color: transparent;
          padding: 20px;
          border-radius: 10px;      
          }  
        .ocultar:hover {
          color: $color_letras;  
          background-color: $color_principal;
        }
        }
      }
    }
  }






.video-youtube {
  width: 100%;
  aspect-ratio: 16/9;
}



