.contenido {
  background-image: url(../../img/fondo4.jpg);
  background-size: cover;
  @include flex-col-center;

  .texto {
    @extend %textos;
  }

  h2 {
    @extend %titulos;

  }

  .contenidopresentacion { 
    @include gridsimple;

    .proximasfechas {
        text-align: center;
          
        .itemtitulo {
          @include estilo_claro;
          
          th {
            padding: 20px;
            font-size: 20px;               
          }  
        }
        
        .itemfecha {
          
              td {
                padding: 20px;
                font-size: 15px;
                font-weight: bold;               
              }

              .fondo {
                  font-size: 15px;
                  background-color: $color_fondo_claro;
                  padding: 5px 20px;
                  border-radius: 10px;
                  color: $color_fondo_oscuro;

                  &:hover {
                  background-color: $color_principal;
                  color: $color_letras;
                  }
                }   
        }
    }
  }
}







