.grid_sobremi {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "foto1 foto1 texto1"
    "foto2 texto2 foto3";
    padding: 20px 60px;
    gap: 20px;
    align-items: stretch;
    .imagen1 {
        grid-area: foto1;
        background-image: url(../../img/lassoguitarra.jpg);
        background-size: cover;
        background-position: top;
        min-height: 50vh;
    }
    .imagen2 {
        grid-area: foto2;
        background-image: url(../../img/lassoenescenario.avif);
        background-size: cover;
        background-position: center;
        min-height: 50vh;
    }
    .imagen3 {
        grid-area: foto3;
        background-image: url(../../img/lassoalfombra.avif);
        background-size: cover;
        background-position: center;
        min-height: 50vh;
    }
    .texto1 {
        grid-area: texto1;
    }
    .texto2 {
        grid-area: texto2;
    }
    .texto3 {
        grid-area: texto3;
    }
}



