@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', Courier, monospace; }

a {
  text-decoration: none;
  color: white; }

.contenido_index .titulo_index, .contenido_discos h2, .contenido_sobremi h2, .contenido h2, .contenido_contacto h2 {
  color: #3d9175;
  background-color: white;
  padding: 0 10px; }

.contenido_discos .texto, .contenido_sobremi p, .contenido .texto, .contenido_contacto p {
  padding: 20px 50px;
  text-align: center; }

.menu_principal {
  background-color: #B96D40; }
  .menu_principal .nav-item {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px; }
    .menu_principal .nav-item:hover {
      background-color: #3d9175;
      padding: 10px;
      border-radius: 10px;
      color: white; }
    .menu_principal .nav-item .nav-link {
      color: #3d9175;
      font-weight: bold; }
      .menu_principal .nav-item .nav-link:hover {
        color: white; }

.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1; } }

@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1; } }

.slide-in-fwd-right {
  -webkit-animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
  animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both; }

@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1; } }

@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1; } }

.imagendivision {
  background: #23395b;
  background: linear-gradient(131deg, #23395b 6%, #55d6be 26%, #ca054d 57%, #b96d40 80%, #ffcf9c 100%);
  height: 100px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .imagendivision .titulo {
    padding: 10px 20px;
    color: white; }

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.contenido_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3d9175;
  color: white;
  padding: 20px;
  gap: 10px; }

.contenido_discos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFCF9C;
  color: #23395b; }

.fondo_claro {
  background-color: #FFCF9C;
  color: #23395b; }

.fondo_oscuro {
  background-color: #3d9175;
  color: white; }

.vibrate-1 {
  -webkit-animation: vibrate-1 2s linear infinite both;
  animation: vibrate-1 2s linear infinite both; }

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.fotoprincipal {
  background-image: url(../../img/portada.jpg);
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: end;
  height: 85vh; }
  .fotoprincipal .fototitulo {
    background-color: rgba(255, 255, 255, 0.453);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 60px;
    color: #23395b;
    font-weight: bold; }
  .fotoprincipal p {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px; }

.contenido_sobremi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFCF9C;
  color: #23395b; }
  .contenido_sobremi .grid_sobremi .imagen1, .contenido_sobremi .grid_sobremi .imagen2, .contenido_sobremi .grid_sobremi .imagen3, .contenido_sobremi .grid_sobremi2 .imagen4, .contenido_sobremi .grid_sobremi2 .imagen5, .contenido_sobremi .grid_sobremi2 .imagen6 {
    background-size: cover;
    background-position: top;
    min-height: 50vh; }
  .contenido_sobremi .grid_sobremi {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 60px;
    gap: 20px;
    align-items: stretch;
    grid-template-areas: "foto1 foto1 texto1" "foto2 texto2 foto3"; }
    .contenido_sobremi .grid_sobremi .imagen1 {
      grid-area: foto1;
      background-image: url(../../img/lassocami.png); }
    .contenido_sobremi .grid_sobremi .imagen2 {
      grid-area: foto2;
      background-image: url(../../img/lassojoven.jpg); }
    .contenido_sobremi .grid_sobremi .imagen3 {
      grid-area: foto3;
      background-image: url(../../img/ojos2.jpg); }
    .contenido_sobremi .grid_sobremi .texto1 {
      grid-area: texto1; }
    .contenido_sobremi .grid_sobremi .texto2 {
      grid-area: texto2; }
    .contenido_sobremi .grid_sobremi .texto3 {
      grid-area: texto3; }
    .contenido_sobremi .grid_sobremi .tarjeta {
      background-color: #3d9175;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center; }
  .contenido_sobremi .grid_sobremi2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 60px;
    gap: 20px;
    align-items: stretch;
    grid-template-areas: "foto4 foto4 texto3" "foto5 texto4 foto6"; }
    .contenido_sobremi .grid_sobremi2 .imagen4 {
      grid-area: foto4;
      background-image: url(../../img/colab.jpg); }
    .contenido_sobremi .grid_sobremi2 .imagen5 {
      grid-area: foto5;
      background-image: url(../../img/cantante2.jpg); }
    .contenido_sobremi .grid_sobremi2 .imagen6 {
      grid-area: foto6;
      background-image: url(../../img/letras.jpg); }
    .contenido_sobremi .grid_sobremi2 .texto3 {
      grid-area: texto3; }
    .contenido_sobremi .grid_sobremi2 .texto4 {
      grid-area: texto4; }
    .contenido_sobremi .grid_sobremi2 .tarjeta {
      background-color: #3d9175;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center; }

.contenido {
  background-image: url(../../img/fondo4.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenido .contenidopresentacion {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .contenido .contenidopresentacion .proximasfechas {
      text-align: center; }
      .contenido .contenidopresentacion .proximasfechas .itemtitulo {
        background-color: #FFCF9C;
        color: #23395b; }
        .contenido .contenidopresentacion .proximasfechas .itemtitulo th {
          padding: 20px;
          font-size: 20px; }
      .contenido .contenidopresentacion .proximasfechas .itemfecha td {
        padding: 20px;
        font-size: 15px;
        font-weight: bold; }
      .contenido .contenidopresentacion .proximasfechas .itemfecha .fondo {
        font-size: 15px;
        background-color: #FFCF9C;
        padding: 5px 20px;
        border-radius: 10px;
        color: #23395b; }
        .contenido .contenidopresentacion .proximasfechas .itemfecha .fondo:hover {
          background-color: #3d9175;
          color: white; }

footer {
  background-color: #ca054d;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contenido_contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFCF9C;
  color: #23395b; }
  .contenido_contacto div div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    padding: 10px 30px; }
  .contenido_contacto div div .video-youtube {
    width: 100%;
    aspect-ratio: 16/9; }

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both; }

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

.agrandarse {
  transition: 1s; }
  .agrandarse:hover {
    scale: 1.05; }

@media screen and (max-width: 1200px) {
  .slide-in-fwd-right {
    -webkit-animation: none;
    animation: none; }
  .contenido_sobremi .grid_sobremi, .contenido_sobremi .grid_sobremi2 {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 20px; }
  main .fotoprincipal {
    height: 60vh; }
    main .fotoprincipal .fototitulo {
      font-size: 50px; }
  .contenido .contenidopresentacion {
    display: flex;
    padding: 20px 0; } }

@media screen and (max-width: 768px) {
  .slide-in-fwd-right {
    -webkit-animation: none;
    animation: none; }
  .contenido .contenidopresentacion .proximasfechas .itemfecha td, .contenido .contenidopresentacion .proximasfechas .itemfecha th {
    padding: 10px;
    font-size: 12px; }
  main .fotoprincipal .fototitulo {
    font-size: 50px;
    color: white; }
  .contenido_contacto .container {
    gap: 20px; } }
